
@{
    ViewBag.Title = "Index";
}

<div><h2>Dashboard</h2></div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info" id="nopcommerce-common-statistics-box">
                        <div class="box-header with-border clearfix">
                            <div class="box-title">
                                <i class="fa ion-stats-bars"></i>
                                Common statistics
                            </div>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3>5</h3>
                                        <p>Orders</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <a class="small-box-footer" href="/Admin/Order">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3>0</h3>
                                        <p>Pending order requests</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-refresh"></i>
                                    </div>
                                    <a class="small-box-footer" href="#">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3>6</h3>
                                        <p>Registered customers</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <a class="small-box-footer" href="/Admin/UserProfile">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <h3>1</h3>
                                        <p>Low stock products</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-pie-chart"></i>
                                    </div>
                                    <a class="small-box-footer" href="/Admin/Product">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info" id="nopcommerce-common-statistics-box">
                        <div class="box-header with-border clearfix">
                            <div class="box-title">
                                <i class="fa ion-stats-bars"></i>
                                Common statistics
                            </div>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3>5</h3>
                                        <p>Orders</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-shopping-bag"></i>
                                    </div>
                                    <a class="small-box-footer" href="/admin/Order/List">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3>0</h3>
                                        <p>Pending return requests</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-refresh"></i>
                                    </div>
                                    <a class="small-box-footer" href="/admin/ReturnRequest/List">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3>6</h3>
                                        <p>Registered customers</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                    <a class="small-box-footer" href="/admin/Customer/List">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <h3>1</h3>
                                        <p>Low stock products</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>
                                    <a class="small-box-footer" href="/admin/Report/LowStock">
                                        More info
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        
    </div>

    <div>

    </div>
</div>

@*<script>
    $(document).ready(function () {
        $('#nopcommerce-common-statistics-box').on('click', 'button[data-widget="collapse"]', function () {
            var collapsed = !$('#nopcommerce-common-statistics-box').hasClass('collapsed-box');
            saveUserPreferences('/admin/Preferences/SavePreference', 'HideCommonStatisticsPanel', collapsed);
        });
    });
</script>*@