
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<article class="m1_mn bo1" style="font-family:arial">
    <div class="comp-titl ps2 clr15_sh  bo1  m11_sh ">
    <h2 class="txt1 bo1 fnt38_mn" style="text-align:center">Hi-Fi Technologies</h2>
        <hr />
        </div>
    <div class="fnt8_sh ta lnh_mn prd1_mn readmore_visible">
    <p><b>Hi-Fi Technologies</b> is the most eminent company that was founded in the year <b>1997</b> at 
        <b>Secunderabad in Telangana, India</b>. We are a sole proprietorship based company that is providing&nbsp;
        <b>Drive Repairing Services, Board Repairing Services, Electronic Equipment Repairing Services </b>and
        <b> Repairing Services</b>&nbsp;to the patrons’ at most feasible rates. Offered services can be molded as per the given details and specifications of the customers to meet their various requirements. Timely execution, superior quality, effective results and fine finishing of work satisfy the customers most and increase their demand rapidly in this competitive industry.</p>
    <p>
        <br>Our company is highly acknowledged among the customers for its ethical business practices, client oriented approach and total quality management. Also, we have earned trust and confidence of our customers by maintaining transparency in our business deals and showing our dedication towards them. We are able to do this only because of our diligent workforce and technically advanced infrastructural unit. Our experts and technicians perform every task with perfection and ease by utilizing available resources in best possible manner. Also, we have carved a niche in this competitive industry due to the consistent support of our team, clients, vendors and distribution network.</p> <p><br>In addition, our company has been performing business tasks smoothly and systematically under the supervision of <b>Koduri Sai Babu (Managing Director)</b>. His leadership and motivation are the two main reasons behind achievements and success of our organization.</p>
    </div>
</article>
